# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок проекта
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Включаем mod_rewrite
  RewriteEngine On
  IndexIgnore */*
  # Перенаправляем administrator на входной скрипт админки
  RewriteRule ^administrator/(.*)?$ advanced/backend/web/$1 [L,PT]
  # Перенаправляем все запросы на входной скрипт
  RewriteRule ^([^/].*)?$ advanced/frontend/web/$1
</IfModule>